.dashboard-layout {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
}

.graph-container {
	width: 100%;
	border: 2px solid black;
	border-radius: 1rem;
	padding: 0.5rem;
}